body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  z-index: 1;
}

main {
  padding-top: 150px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

article {
  margin-bottom: 20px;
}

article h2 {
  color: #333;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.hosgeldin-kutusu {
  display: flex;
  align-items: center;
  border: 1px solid #efefef;
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hosgeldin-kutusu img {
  max-width: 40%;
  height: auto;
  border-radius: 10px;
}

.hosgeldiniz-yazisi-alani {
  max-width: 50%;
  margin-left: 15px;
}

.hosgeldiniz-yazisi-alani h2 {
  color: #333;
  margin-top: 0;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group textarea {
  height: 120px;
  resize: none;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button[type="submit"]:hover {
  background-color: #198754;
}

/* Ekran genişliği 768 piksel ve üzeri için */
@media screen and (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* Ekran genişliği 768 piksel ve altı için */
@media screen and (max-width: 768px) {
  .hosgeldin-kutusu {
    width: 100%;
  }
}
